input {
    border: 1px solid #999999;
    border-radius: 24px;
    width: 100%;
    background: transparent;
    font-size: 1.125rem;
    color: white;
    padding: 0.125rem 0.625rem;
}

@media (max-width: 620px) {
input {
        max-width: 100%;
    }
}

@media (min-width: 1000px) {
    input {
        max-width: 50%;
    }
}