.button {
    border: 1px solid #999999;
    border-radius: 24px;
    background: #2D333B;
    font-size: 1.125rem;
    color: white;
    padding: 0.125rem 0.625rem;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out, color 0.2s ease-out;

    &:hover{
        background-color: rgba(153, 153, 153, 0.5);
        color: rgba(29, 33, 40, 0.5);
    }

    &:active{
        background-color: #999999;
        color: #2D333B;
    }
}