.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.background {
    height: 90dvh;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.625rem;
    padding-inline: 0.5rem;
    gap: 0.625rem;
}

.search{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 0.5rem;

}

@media (width <= 620px) {
    .search {
        flex-direction: column;
    }

    .background{
        display: none;
    }
}