.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.background {
    height: 90dvh;
}

.info {
    display: flex;
    width: 100%;
    margin-top: 0.625rem;
}

.search{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 0.5rem;
    padding-right: 0.625rem;

}

@media (width <= 620px) {
    .search {
        flex-direction: column;
    }
}